.header{
    border: inset;
    border-color: black;
}

.title{
    border: inset;
    border-color: black;
}

.description{
    border: inset;
    border-color: black;
}

.main{
    border: inset;
    border-color: black;
}

.sidebar{
    border: inset;
    border-color: black;
}

.image-Box{
    border: inset;
    border-color: black;
}

#image1{
    border: inset;
    border-color: black;
}

#image2{
    border: inset;
    border-color: black;
}

#image3{
    border: inset;
    border-color: black;
}

.main-Box{
    border: inset;
    border-color: black;
}

.carrusel{
    border: inset;
    border-color: black;
}

.video{
    border: inset;
    border-color: black;
}

.footer{
    border: inset;
    border-color: black;
}

#logo1{
    border: inset;
    border-color: black;
}

#inscription-Contact{
    border: inset;
    border-color: black;
}

.message-Inscrib{
    border: inset;
    border-color: black;
}

#logo2{
    border: inset;
    border-color: black;
}